<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Recomendador de Películas</title>
</head>
<body>
    <div class="container">
        <h1>Recomendador de Películas</h1>
        <input type="text" id="movieTitle" placeholder="Ingresa el título de la película">
        <button id="recommendButton">Recomendar Películas</button>
        <div id="recommendations" class="recommendations-grid"></div>
        <div class="error-message" id="errorMessage"></div>
    </div>

    <script src="static/script.js"></script>
</body>
</html>
